/* properties valid for all elements */
* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #073642;
    color: #fdf6e3;
    margin: 0;
    padding: 1em;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

h1, h2 {
    margin: 0;
    white-space: nowrap;
}

.horDivBox {
    width: 80%;
    padding: 0.8em 1em;
    background-color: #002b36;
    color: #fdf6e3;
    outline: none;
    border: 0.2em solid #839496;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1em;
}

.flexCenterHor {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    align-items: center;
}

.flexCenterHor > * {
    padding: 1em;
    border: 0.2em solid #839496;
}

.navButton {
    display: flex;
}

.playlistItem {
    display: flex;
}

.smolText {
    white-space: nowrap;
    font-size: 0.7em;
}

.threeColumns {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    justify-content: center; /* Center the columns horizontally */
    align-items: center; /* Center the columns vertically */
    gap: 10px; /* Gap between columns */
}

.playlists {
    border: 0.2em dashed #93a1a1;
    border-radius: 1em;
    padding: 1em;
    max-width: 45em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    display: flex;
}

form {
    border: 0.2em dashed #93a1a1;
    border-radius: 1em;
    padding: 1em;
    height: 100%;
    max-width: 45em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    justify-content: flex-start;
}

.indexForm {
    width: 80%;
    height: auto;
}

.hidden {
    display: none;
}

input {
    width: 80%;
    padding: 0.8em 1em;
    background-color: #002b36;
    color: #fdf6e3;
    outline: none;
    border: 0.2em solid #839496;
    border-radius: 1em;
}

input:hover {
    background-color: #073642;
    transition: background-color 0.1s ease-in-out;
}

input:focus {
    background-color: #073642;
    border: 0.2em solid #cb4b16;
    transition: border 0.2s ease-in-out;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="file"] {
    border: none;
    border-radius: 0.4em;
    padding: 0;
    background-color: #073642;
}

input[type="file"]::file-selector-button {
    margin-right: 1em;
    border: none;
    background: #073642;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #fdf6e3;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    font-family: Verdana, sans-serif;
}

input[type="file"]::file-selector-button:hover {
    background: #cb4b16;
}

select option:checked {
    background-color: #073642;
    color: #fdf6e3;
}

select {
    width: 80%;
    padding: 0.8em 1em;
    background-color: #002b36;
    color: #fdf6e3;
    outline: none;
    border: 0.2em solid #839496;
    border-radius: 1em;
}

select:hover {
    background-color: #073642;
    transition: background-color 0.1s ease-in-out;
}

select:focus {
    background-color: #073642;
    border: 0.2em solid #cb4b16;
    transition: border 0.2s ease-in-out;
}

.error {
    font-family: "Lucida Grande", monospace;
    color: #dc322f;
    font-size: 1.5em;
    font-weight: bold;
}

.songsInputListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

audio {
    width: 100%;

}

a {
    color: white;
}

#createPlaylist {
    gap: 0.3em;
}

/* NUMBER INPUT ARROWS FIX */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.reorderButton {
    background: green;
}

.selected {
    color: red;
}

.notSelected {
    color: yellow;
}