<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Playlist App</title>
    <link href="css/app.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <script charset="utf-8" defer src="js/utils.js"></script>
    <script charset="utf-8" defer src="js/homeManager.js"></script>
</head>
<body>


<h1>Welcome to the Home Page</h1>
<h2>Nice to see you <span id="user"></span></h2>


<div class="threeColumns" id="playlistColumn">
    <div class="playlists" id="playlists">
        <div>Here are all your playlists</div>
    </div>

    <form action="#">
        <div class="formPrompt">Use this form to upload a new song</div>
        <div class="horDivBox">
            <div class="smolText">Upload the song audio file:</div>
            <input accept="audio/mpeg" id="songFile" name="songFile" required type="file">
        </div>

        <select name="genre" required>
            <option disabled selected value="">Select Genre</option>
            <option value="rock">Rock</option>
            <option value="blues">Blues</option>
            <option value="jazz">Jazz</option>
        </select>

        <input id="author" name="author" placeholder="Author Name" required type="text">
        <input id="album" name="album" placeholder="Album Title" required type="text">
        <input id="albumYear" min="1000" name="albumYear" placeholder="Publication Year" required type="number">
        <div class="horDivBox">
            <div class="smolText">Upload the album cover image:</div>
            <input accept="image/*" id="imageFile" name="imageFile" required type="file">
        </div>
        <!-- another way of doing it... -->
        <!-- <input type="number" name="albumYear" placeholder="Publication Year" min="1000" th:max="${#dates.format(#dates.createNow(), 'yyyy')}" required> -->
        <input id="uploadSongButton" type="button" value="submit">
    </form>

    <form action="#" id="SongsForm">
        <div class="formPrompt">Use this form to create a new playlist</div>
        <input id="playlistName" name="playlistName" placeholder="Playlist Name" required type="text">
        <input id="CreatePlaylistButton" type="submit" value="Create!">

        <!--
        <label for="dropdown">Select your choices:</label>
        <select id="dropdown" name="choices[]" multiple required>
            <option th:each="song, songIndex: ${userSongs}" th:value="${song}" th:text="${song}"></option>
        </select>
        -->


    </form>
</div>


<div class="flexCenterHor hidden" id="PlaylistPageId">
    <button id="backButton">Back</button>
</div>


<div class="flexCenterHor hidden" id="SongPlayerBar">
    
</div>


</body>
</html>
