<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Playlist Page</title>
    <link href="css/app.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <script charset="utf-8" defer src="js/playlistManager.js"></script>
    <script charset="utf-8" defer src="js/utils.js"></script>
</head>
<body>
<div class="flexCenterHor">
    <a class="navButton"
       th:href="@{/GetPlaylistDetails?id={idv}&page={pagev}(idv=${id}, pagev=${page > 0 ? page - 1 : 0})}"
       th:text="Precedenti"></a>
    <div class="playlistItem" th:each="songName: ${playlistSongs}">
        <a th:href="${'/Playlist/playerPage/' + username + '/' + songName}" th:text="${songName}"></a>
    </div>
    <a class="navButton"
       th:href="@{/GetPlaylistDetails?id={idv}&page={pagev}(idv=${id}, pagev=${page < lastPage ? page + 1 : lastPage})}"
       th:text="Successivi"></a>
</div>
</body>
</html>
