<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/app.css"/>
</head>
<body>
	<h1>Welcome to the Home Page</h1>
	<h2>Nice to see you <span id = "user"></span></h2>
	
	<div class="threeColumns" id="playlistColumn">
		<div class="playlists" id="playlists">
		<div>Here are all your playlists</div>
		</div>
		

		<form action="#">
			<div class="formPrompt">Use this form to upload a new song</div>
			<div class="horDivBox">
				<div class="smolText">Upload the song audio file: </div>
				<input type="file" id="songFile" name="songFile" accept="audio/mpeg" required>
			</div>
			
			<select name="genre" required>
				<option value="" disabled selected>Select Genre</option>
	            <option value="rock">Rock</option>
	            <option value="blues">Blues</option>
	            <option value="jazz">Jazz</option>
	         </select>
	         
			<input type="text" id="author" name="author" placeholder="Author Name" required>
			<input type="text" id="album" name="album" placeholder="Album Title" required>
			<input type="number" id="albumYear" name="albumYear" placeholder="Publication Year" min="1000" th:max="${currentYear}" required>
			<div class="horDivBox">
				<div class="smolText">Upload the album cover image: </div>
	    		<input type="file" id="imageFile" name="imageFile" accept="image/*" required>
	    	</div>
			<!-- another way of doing it... -->
			<!-- <input type="number" name="albumYear" placeholder="Publication Year" min="1000" th:max="${#dates.format(#dates.createNow(), 'yyyy')}" required> -->
			<input type="button" id="uploadSongButton" value="submit">
		</form>
		
		<form action="#">
			<div class="formPrompt">Use this form to create a new playlist</div>
			<input type="text" id="playlistName" name="playlistName" placeholder="Playlist Name" required>
				<input type="checkbox" > <!-- devo capire come funziona per la checkbox -->
				<input type="button" id="createplaylist" value="submit">
			
			<!--  
			<label for="dropdown">Select your choices:</label>
	        <select id="dropdown" name="choices[]" multiple required>
				<option th:each="song, songIndex: ${userSongs}" th:value="${song}" th:text="${song}"></option>
			</select>
			-->
			
			
			<input type="submit" value="Create!">
			
		</form>
		
		
		
	</div>
	
</body>
</html>